.otp {
    font-size: 2.5em;
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
    height: 1em;
}

.otp:has(.next) {
    height: 1.5em;
}

.otp .next {
    font-size: .5em;
    opacity: .5;
}
