<div class="timer">
    <canvas @ref="canvas" width="100" height="100"></canvas>
    <span>@Context.timer</span>
</div>

@inject IJSRuntime js

@code {

    [Parameter] public Data.Item.Context Context { get; set; }

    ElementReference canvas;

    public async Task RenderAsync()
    {
        await js.InvokeVoidAsync(
            "renderCircle",
            new object[] { canvas, Context.timer / 30f, 10, "#9cf" }
        );
    }

}
