<div class="otp" @onclick="Otp_OnClick">
    <div class="current">@Context.currentOtp</div>
    @if (Selection.data?.showNextOtp ?? false)
    {
        <div class="next">@Context.nextOtp</div>
    }
</div>

@using Microsoft.Maui.ApplicationModel.DataTransfer

@code {

    [Parameter] public Data.Item.Context Context { get; set; }

    async Task Otp_OnClick()
    {
        if (!Utils.IsEmpty(Context.currentOtp))
            await Clipboard.Default.SetTextAsync(Context.currentOtp);
    }

}
