<div class="otp" @onclick="Otp_OnClick">
    @if (Values is not null)
    {
        @foreach (var value in Values)
        {
            <div>@value</div>
        }
    }
</div>

@using Microsoft.Maui.ApplicationModel.DataTransfer

@code {

    [Parameter] public string[] Values { get; set; }

    async Task Otp_OnClick()
    {
        if (Values is not null && Values.Length >= 2 && !Utils.IsEmpty(Values[1]))
            await Clipboard.Default.SetTextAsync(Values[1]);
    }

}
