@page "/edit"

<div class="bar">
    <div class="button"
         style="--icon:url(back.svg)"
         @onclick="Back_OnClick"></div>
    <div style="flex: 1; "></div>
    <div class="button"
         style="--icon:url(delete.svg)"
         @onclick="Delete_OnClick"></div>
</div>

<div class="content">
    @if (Selection.ActiveDataItem is not null)
    {
        <div>
            <label>Service</label>
            <input @bind="Selection.ActiveDataItem.service" />
        </div>
        <div>
            <label>Name</label>
            <input @bind="Selection.ActiveDataItem.name" />
        </div>
        <div>
            <label>Secret</label>
            <input value="@Selection.ActiveDataItem.secret" readonly />
        </div>
        <div>
            <label>Totp</label>
            <input value="@Selection.ActiveDataItem.totp" readonly />
        </div>
    }
</div>

@implements IAsyncDisposable

@inject NavigationManager nav

@code {

    public async ValueTask DisposeAsync()
    {
        await Selection.data.SaveAsync();
    }

    void Back_OnClick()
    {
        nav.NavigateTo("/");
    }

    void Delete_OnClick()
    {
        Selection.data.items.RemoveAll(x => x.secret == Selection.activeSecret);
        Back_OnClick();
    }

}
