@page "/edit"

<div class="bar">
    <Component_Button Icon="back" OnClick="Back_OnClick" />
    <div style="flex: 1; "></div>
    <Component_Button Icon="delete" OnClick="Delete_OnClick" />
</div>

<div class="content">
    @if (Selection.ActiveDataItem is not null)
    {
        <div>
            <label>Service</label>
            <input @bind="Selection.ActiveDataItem.service" />
        </div>
        <div>
            <label>Name</label>
            <input @bind="Selection.ActiveDataItem.name" />
        </div>
        <div>
            <label>Secret</label>
            <input value="@Selection.ActiveDataItem.secret" readonly />
        </div>
        <div>
            <label>Totp</label>
            <input value="@Selection.ActiveDataItem.totp" readonly />
        </div>
    }
</div>

@implements IAsyncDisposable

@inject IJSRuntime js

@code {

    public async ValueTask DisposeAsync()
    {
        await Selection.data.SaveAsync();
    }

    async Task Back_OnClick()
    {
        await js.InvokeVoidAsync("history.back");
    }

    async Task Delete_OnClick()
    {
        Selection.data.items.RemoveAll(x => x.secret == Selection.activeSecret);
        await Back_OnClick();
    }

}
