.bar {
    display: flex;
    padding: .5em;
    gap: .5em;
}

.content {
    flex: 1;
    padding: 1em;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.content > h2 {
    margin: 0;
    padding: 0 .25em .5em;
}

.content > h2:not(:first-child) {
    margin-top: 1.5em;
    border-top: .125em dashed #666;
    padding-top: .75em;
}

.content > div {
    display: flex;
    align-items: center;
    gap: .5em;
    flex: 0 0 auto;
    position: relative;
}

.content > div > input {
    flex: 1;
}

.color {
    width: 1em;
    height: 1em;
    outline: .125em solid black;
    position: absolute;
    right: 3.75em;
    border-radius: .125em;
}
