.bar {
    flex-direction: column;
    padding: 0;
}

.bar > .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
    overflow: hidden;
    margin-top: -17.5em;
    padding: 1.5em 1em 0;
    transition: .2s;
}

.bar > .info.visible {
    margin-top: 0;
}

.bar > .info > .qr {
    width: 15em;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bar > .content {
    display: flex;
    padding: 1em .5em .5em;
    gap: .5em;
    position: relative;
    align-items: flex-start;
}

.bar > .content > .button {
    flex: 0 0 auto;
}

.items {
    flex: 1;
    overflow: hidden scroll;
    padding: .5em 0;
}

.item {
    cursor: pointer;
    color: #ccc;
    background-color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

.item:hover {
    filter: brightness(1.2);
}

.item.active {
    filter: brightness(1.4);
}

.item > * {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .75em .5em;
}

.item > .service {
    flex: 1;
    text-align: right;
    background-color: #0006;
    height: 1.25em;
}

.item > .service::after {
    content: attr(data-type);
}

.item > .name {
    flex: 3;
}
