.timer {
    flex: 0 0 auto;
    width: 2.5em;
    height: 2.5em;
    position: relative;
    display: flex;
}

.timer > * {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer > canvas {
    rotate: -90deg;
}
